	<title>报送信息统计预览</title>
	<script type="text/javascript" src="${s.ctx}/webjars/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="${s.ctx}/common/js/LodopFuncs.js"></script>
	<script language="javascript" type="text/javascript"> 
		var LODOP; //声明为全局变量
		$(document).ready(function(){
			LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
			LODOP.SET_LICENSES("常州市新博科技有限公司","935ED9779D3B7FEEB934D2F896DA4914","","");
			LODOP.PRINT_INIT("报送信息统计预览");
			LODOP.ADD_PRINT_HTML(0,0,"100%","100%",$("#div1").html());//intTop,intLeft,intWidth,intHeight,strHtml
			LODOP.SET_SHOW_MODE("PREVIEW_IN_BROWSE",1);
			LODOP.SET_SHOW_MODE("HIDE_PAPER_BOARD",1);
			LODOP.SET_SHOW_MODE("SET_SHOW_MODE",1);
			//LODOP.SET_PRINT_PAGESIZE(1,"297mm","210mm","A4");
			LODOP.PREVIEW(); 	
		});
	</script>

	<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="100%" height="100%"> 
		<embed id="LODOP_EM" type="application/x-print-lodop" width="100%" height="100%"></embed>
		<param name="Border" value="1">
		<param name="Color" value="#ffffff">
	</object> 
	<div style="display:none;margin:0 auto;width:100%;"  id="div1">
    <div style="width:90%;margin:100px,0px,0px,150px;">
		<div style="width:100%;font-size:20px;">
		<table  style="width: 90%;" id ="td">
			<thead>
				<tr>
					<td colspan=4 style="text-align: center;"><span>信息报送统计表</span></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2"><span>制表单位：${table_xxbsbb.zbdw!}</span></td>
					<td  style="text-align: right;" colspan="2"><span>制表日期：${table_xxbsbb.zbsj!}</span></td>
				</tr>
			</tbody>
		</table>
<table  style="width: 90%;border-collapse: collapse;border: 1 solid black; ">
	<thead style="height: 20px;">
		<tr style="border: 1px solid black;" >
			<td style="text-align:center;width:15%;border: 1px solid black;">部门</td>
			<td style="text-align:center;width:25%;border: 1px solid black;">标题</td>
			<td style="text-align:center;width:15%;border: 1px solid black;">报送时间</td>
			<td style="text-align:center;width:10%;border: 1px solid black;">报送条数</td>
			<td style="text-align:center;width:10%;border: 1px solid black;">本月得分</td>
			<td style="text-align:center;width:15%;border: 1px solid black;">年度累计得分</td>
		</tr>
	</thead>
	<tbody >
	<#list table_xxbsbb.data as item>
		<#list item.bss as item2 >
			<#if item2_index == 0>
			<tr>
				<td style="text-align:left;border: 1px solid black;" rowspan="${item.total!}">${item.bmdwname!}</td>
				<td style="text-align:left;border: 1px solid black;">${item2.bsbt!}</td>
				<td style="text-align:center;border: 1px solid black;">${item2.bssj!}</td>
				<td style="text-align:center;border: 1px solid black;" rowspan="${item.total!}">${item.total!}</td>
				<td style="text-align:center;border: 1px solid black;" rowspan="${item.total!}">${item.totalscore!}</td>
				<td style="text-align:center;border: 1px solid black;" rowspan="${item.total!}">${item.scorey!}</td>
			</tr>
			<#else>
			<tr>
				<td style="text-align:left;border: 1px solid black;">${item2.bsbt!}</td>
				<td style="text-align:center;border: 1px solid black;">${item2.bssj!}</td>
			</tr>
			</#if>
		</#list>
	</#list>
	</tbody>
</table>
<table  style="width: 90%;margin-bottom: 50px;" >
		<tr>
			<td width="20%" style="border: 0px;"><span>制表人：${table_xxbsbb.zbr!}</span></td>
			<td width="50%" style="text-align: right;border: 0px;"><span>报送年度：${table_xxbsbb.bssj!}</span></td>
		</tr>
</table>

		</div>
    </div>
</div>
