<script src="${s.ctx}/apps/oabg/swng/bm.js" type="text/javascript"></script> 
<@s.loading/> 
 <div class="easyui-layout" data-options="fit:true,border:false" >
	<div data-options="region:'north',collapsible:false" title="查询条件" style="height:65px" >
			<form id="swng_bm_qf">
				<table class="querytable">
					<tr>
						<td class="label">姓名:</td>
						<td><input name="name" class="easyui-textbox"/></td>
						<td class="label">工作部门</td>
						<td><input name="bmdwName" class="easyui-textbox"/></td>
						<!--  
						<td><@c.getBmdwTree name="bmdw" code="BMDWL" /></td>
						-->
						<td><a id="swng_bm_query" class="easyui-linkbutton" data-options="plain:false,iconCls:'iconfont icon-standard-zoom'">查询</a></td>
						<td><a id="swng_bm_clear" class="easyui-linkbutton" data-options="plain:false,iconCls:'iconfont icon-standard-cross'">重置</a></td>
					</tr>
				</table> 
			</form>
	</div>
	<div data-options="region:'center',border:false" title="数据列表">
		<table id="swng_bm_grid" ></table>
	</div>
	<div data-options="region:'south',border:false" style="height:30px;text-align:center;background-color:#F4F4F4;border-style:solid; border-width:1px;padding-top:2px; border-color:white;border-top-color:#DDDDDD;">
		<@command menu="OABG_GWGL_SWGL_SWNG" name="swng_swcl_bmxz"/>
	</div>
</div>