<script src="${s.ctx}/apps/oabg/swsh/form.js" type="text/javascript"></script>
<@s.loading/>
<div class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'center',border:false" style="padding:3px" >
		<form id="swsh_form">
			<input id="swsh_form_id" name="id" value="${message.id!}" type="hidden"/>
			<table width="100%" class="formtable">
				<tr>
					<td class="label">收文日期</td>
					<td >${message.swrq!}</td>
					<td class="label">发文日期</td>
					<td >${message.fwrq!}</td>
				</tr>
				<tr style="height: 40px;">
					<td class="label">发文字号</td>
					<td>${message.fwzh!}</td>
					<td class="label">责任部门</td>
					<td >${message.zrbmNames!}</td>
				</tr>
				<tr>
					<td class="label">标题</td>
					<td colspan="3">${message.bt!}</td>
				</tr>
				<tr>
				    <td class="label">发文机关</td>
					<td>${message.fwjg!}</td>
					<td class="label">文件来源</td>
					<td>${message.wjlyName!}</td>
				</tr>
				<tr>
					<td class="label">密级</td>
					<td>${message.mj!}</td>
					<td class="label">缓急</td>
					<td>${message.hjName!}</td>
				</tr>
				<tr>
					<td class="label">份数</td>
					<td>${message.fs!}</td>
					<td class="label">页数</td>
					<td>${message.ys!}</td>
				</tr>
				<tr style="height: 90px;">
					<td class="label">附件</td>
					<td colspan="3">
						<#list fjList as item>
							<a href="${s.ctx}${item.url}">${item.fileName!}</a><br/>
						</#list>
					</td>
				</tr>
				<tr style="height: 60px">
					<td class="label">备注</td>
					<td colspan="3">
						${message.bz!}
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div data-options="region:'south',border:false" style="height:30px;text-align:center;background-color:#F4F4F4;border-style:solid; border-width:1px;padding-top:2px; border-color:white;border-top-color:#DDDDDD;">
		<@command menu="OABG_GWGL_SWGL_SWSH" name="swsh_nbForm,swsh_pyForm"/>
	</div>
</div>
