<script>
 var role = '${role!}';
</script>
<script src="${s.ctx}/apps/oabg/swsh/index.js" type="text/javascript"></script>
<@s.loading/>
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north',border:false" title="查询条件" style="height:<@c.commonRowHeight row=1/>">
		<div style="width:970px">
			<form id="swsh_qf">
				<table class="querytable">
					<tr>
						<td class="label">收文日期:</td>
						<td><input name="times" class="easyui-datebox" data-options="editable:false,icons:[{iconCls:'icon-combo-clear',handler : function(e) { $(e.data.target).combo('clear');}}]">
						<td class="label">至:</td>
						<td><input name="timee" class="easyui-datebox" data-options="editable:false,icons:[{iconCls:'icon-combo-clear',handler : function(e) { $(e.data.target).combo('clear');}}]">
						<td class="label">收文来源:</td>
					    <td><@c.combo id="swsh_wjly" name="wjly" code="wjly"/></td>
					    <td><a id="swsh_qf_query" class="easyui-linkbutton" data-options="plain:false,iconCls:'iconfont icon-standard-zoom'">查询</a></td>
						<td><a id="swsh_qf_clear" class="easyui-linkbutton" data-options="plain:false,iconCls:'iconfont icon-standard-cross'">清空</a></td>
					</tr>
					<!--  
					<tr>
						<td class="label">收文类型</td>
						<td><@c.combo name="swlx" code="swlx"/></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					-->
				</table>
			</form>
		</div>
	</div>
	<div data-options="region:'center',border:false" title="数据列表[双击查看详情]">
		<table id="swsh_grid" toolbar="#swsh_gridbar"></table>
		<div id="swsh_gridbar">
			<div style="padding: 2px">
				<@command menu="OABG_GWGL_SWGL_SWSH" name="swsh_nb,swsh_py"/>
			</div>
		</div>
	</div>
</div>