<link rel="stylesheet" type="text/css" href="${s.ctx}/common/css/icon.css">
<link rel="stylesheet" type="text/css" href="${s.ctx}/common/css/common.css">
<link rel="stylesheet" type="text/css" href="${s.ctx}/common/css/common_bb.css">
<script src="${s.ctx}/common/js/validate.js" type="text/javascript"></script>
<script src="${s.ctx}/common/js/easyui-default.js" type="text/javascript"></script>
<script src="${s.ctx}/common/js/easyui-ext.js" type="text/javascript"></script>
<script src="${s.ctx}/common/js/json2.js" type="text/javascript"></script>
<script src="${s.ctx}/common/js/util.js" type="text/javascript"></script>
<script src="${s.ctx}/common/js/common.js" type="text/javascript"></script>
<script src="${s.ctx}/common/js/message.js" type="text/javascript"></script>
<script src="${s.ctx}/common/js/reused.js" type="text/javascript"></script>
<script src="${s.ctx}/jslib/my97/4.8/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
<script src="${s.ctx}/jslib/my97/4.8/lang/zh-cn.js" type="text/javascript" charset="utf-8"></script>
<script src="${s.ctx}/common/js/echarts.min.js"></script>
<script src="${s.ctx}/common/js/macarons.js"></script>
<script type="text/javascript">
	var ctx = '${s.ctx}';
</script>
