<script src="${s.ctx}/apps/oabg/fwsh/lzspform.js" type="text/javascript"></script>
<@s.loading/>
<div class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'center',border:false,collapsible:false" style="padding:3px" >
		<form id="fwsh_lzspform">
			<input id="fwsh_lzspform_id" name="id" type="hidden"/>
			<input id="fwsh_lzspform_fwzt" name="fwzt" type="hidden"/>
			<table width="100%" class="formtable">
			<tr>
				<td class="label">审批意见<@c.redstar/></td>
				<td ><@c.combo name="tgzt" code="TGZT" required="true"/></td>
			</tr>
			<tr>
				<td colspan="2"><input name="suggestion" class="easyui-textbox" data-options="required:false,validType:['maxLength[50]']" style="width:450px"/></td>
			</tr>
			<tr>
				<td class="label">审批人<@c.redstar/></td>
				<td ><input name="puser" class="easyui-textbox" data-options="required:true,validType:['maxLength[50]']" style="width:310px" value="${puser!}" disabled="disabled"/></td>
			</tr>
		</table>
		</form>
	</div>
	<div data-options="region:'south',border:false" style="height:30px;text-align:center;background-color:#F4F4F4;border-style:solid; border-width:1px;padding-top:2px; border-color:white;border-top-color:#DDDDDD;">
		<@command menu="OABG_GWGL_FWGL_FWSH" name="fwsh_lzsp_save"/>
	</div>
</div>
